.container{
    background-color: rgba(0, 0, 0, 0.61);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
    width: 100vw;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.modalOverlay{
    z-index: 21;
    position: fixed;
    top: 30%;
    left:35vw;
    width:30vw;
    animation: slide-down 300ms ease-out forwards;
}

@keyframes slide-down {
    from {
      opacity: 0;
      transform: translateY(-3rem);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }