.messageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.messageContainer p{
    font-size: 1.5rem;
}

.messageContainer button{
    margin-left: auto;
    font-size: 1.5rem;
    background-color: white;
    color: blue;
    border: 1px blue solid;
    border-radius: 10px;
}

.messageContainer button:hover{
    background-color: blue;
    color: white;
    border: 1px blue solid;
}